<!-- <div class="c-content">

  <h2>
    <a href="{{post.url}}">{{post.title}}</a>
  </h2>

  <p>
    {{post.description}}
  </p>

  <div class="c-comments">
    <h3>Comments:</h3>
    {{#each post.comments}}
      <div class="c-comment">
        <p>
          {{comment}}
        </p>
        <span>
          by {{author}}
        </span>
      </div>
    {{/each}}
  </div> -->
